html, body {
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    transition: all 0.5s ease-in-out;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #1b1b1b;
    border-radius: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff2929, #ff0f53);
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-corner {
    background: transparent;
  }

.main {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.logo {
    display: block;
    z-index: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 1200px;
    height: 80px;
    margin:auto;
    margin-top: 300px;
    transition: all 0.5s ease-in-out;
}

.space {
    height: 300px;
    display: flex;
    justify-self: center;
    justify-items: center;
    margin: 0 auto;
}

.space2 {
    height: 100px;
}

.contacts {
    position: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contact {
    width: 400px;
    height: 76px;
    background-color: #1b1b1b;
    margin-left: 25px;
    border-radius: 38px;
    transition: all 0.5s ease-in-out; 
}

.contact-image {
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    display: unset;
    float: left;
    height: 56px;
    width: auto;
    padding-top: 10px;
    padding-left: 10px;
    transition: all 0.5s ease-in-out;
}

.contact-link {
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    -webkit-user-drag: none;
    padding-left: 50px;
    top: 25px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.spacer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px dashed #424242;
    width: 1000px;
    height: 150px;
    transition: all 0.5s ease-in-out;
}

.mywork {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height: 700px;
    transition: all 0.5s ease-in-out;
}

.mywork-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 234px;
    height: auto;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.footer {
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    width: 98%;
    height: 20px;
    left: 15px;
    bottom: 10px;
    background: linear-gradient(45deg, #ff2929, #ff0f53);
    transition: all 0.5s ease-in-out;
}

.footer-hide {
    height: 0px;
}

.copyright {
    position: relative;
    bottom: 3px;
    padding-left: 20px;
    font-size: 12px;
    height: 5px;
    color: white;
}

.dimissBtn {
    border: none;
    background-color: transparent;
    color: white;
    float: right;
    padding-right: 20px;
    cursor:pointer;
}

.toggle {
    top: -250px;
    float: right;
    right: 100px;
    isolation: isolate;
    position: relative;
    -webkit-appearance: none;
    background-color: #1b1b1b;
    width: 80px;
    height: 30px;
    border-radius: 15px;
}

.themeswitch {
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.indicator {
    position: relative;
    z-index: 0;
    height: 26px;
    width: 26px;
    margin-top: 2px;
    margin-left: 1px;
    background: linear-gradient(45deg, #ff2929, #ff0f53);
    border-radius: 15px;
    transform: translate3d(10%, -40px, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    cursor: pointer;
}

.themeswitch:checked ~ .indicator {
    transform: translate3d(50px, -40px, 0);
}

.slider {
    margin: 0 auto;
    width: 1000px;
    max-width: 100%;
    text-align: center;
}

.slider button {
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#left {
    background: url(./res/chevron-left-color.svg);
    background-repeat: no-repeat;
    background-position: right;
    float:left;
    margin: 0 0 0 -150px;
    margin-top: 200px;
    display: block;
    outline: hidden;
    outline-style:none;
}

#right {
    background: url(./res/chevron-right-color.svg);
    background-repeat: no-repeat;
    background-position: left;
    float:right;
    margin: 0 -150px 0 0;
    margin-top: 200px;
    display: block;
    outline: hidden;
    outline-style:none;
}

.slides {
    padding: 30px;
    background: #1b1b1b;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

.overflow {
    width: 100%;
    overflow: hidden;
}

#slide-1:checked ~ .slides .inner {
    margin-left: 0;
}
#slide-2:checked ~ .slides .inner {
    margin-left: -100%;
}

.slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 500%;
    height: 400px;
}

.slides .slide {
    width: 20%;
    float: left;
    display: block;
    height: 100%;
    color: white;
}

.slides .slide-1 {
    background: #1b1b1b;
}

.slides .slide-2 {
    background: #1b1b1b;
}

.bullets input[type="radio"] {
    -webkit-appearance: none;
    display: inline-block;
    margin-top: 25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1b1b1b;
}

.bullets input[type="radio"]:checked {
    background: linear-gradient(45deg, #ff2929, #ff0f53);
}

.slide-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.slide-img {
    border-radius: 5px;
    align-self: center;
    width: 190px;
    height: auto;
    overflow: hidden;
}

.slide-text {
    padding-left: 50px;
    text-align: left;
    height: 400px;
    width: 700px;
}

.slide-text p {
    text-align: left;
}

.about {
    z-index: 100;
    position: fixed;
    right: 25px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    float: right;
    background: linear-gradient(45deg, #ff2929, #ff0f53);
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
